extends layout 

block content 
  div(class="card w-96 bg-white shadow-xl mx-auto my-10")
    div(class="card-body p-10")
      if category_items.length 
        h2(class="card-title") Remove category from the following items before deleting: 
        for item in category_items
          div(class='my-1')
            a(href=item.url class='font-semibold') #{item.name}
            p(class='text-xs') #[strong SKU: ] #{item._id}

      else
        h2(class="card-title") Delete #{category.name}?

        p Do you really want to delete this category?

        div(class="card-actions justify-end")
          form(method='POST' action='')
            input(type='hidden' name='categoryid' required='true' value=category._id)
            button(type='submit' class="btn btn-outline btn-primary btn-error") Delete
