extends layout 

block content 
  div(class="card w-96 bg-white shadow-xl mx-auto mt-10")
    div(class="card-body")
    
      h2(class="card-title")= category.name
      p(class='mb-3') #[strong SKU: ] #{category._id}
      p= category.description

      p(class='text-md font-bold mt-5') Items:
      div(class='flex flex-col pl-5 mb-10')
        for item in category_items
          div(class='my-1')
            a(href=item.url class='font-semibold') #{item.name}
            p(class='text-xs') #[strong SKU: ] #{item._id}

        else 
          p No items in this category
         

      div(class="card-actions justify-end")
        a(class="btn btn-outline btn-warning" href=`/inventory/category/${category._id}/update`) Update
        a(class="btn btn-outline btn-error" href=`/inventory/category/${category._id}/delete`) Delete
