extends layout 

block content 
  h1= category.name

  if category_items.length 
    p Remove category from the following items before deleting: 
    ul 
      for item in category_items 
        li 
          a(href=item.url) #{item.name}
          | - #{item._id}

  else
    p Do you really want to delete this category?
    form(method='POST' action='')
      div
        input(type='hidden', name='categoryid', required='true', value=category._id)

      button(type='submit') Delete
