extends layout

block content 
  div(class='grid grid-cols-3 h-full mx-auto my-10 w-5/6 gap-y-3')
    each category in categories 
      div(class="card w-96 h-96 bg-white shadow-xl mx-auto")
        div(class="card-body") 
          a(class="card-title" href=category.url) #{category.name}

          a(class='text-sm flex-0') #[strong Category ID: ] #{category._id}
          p #{category.description}
          div(class="card-actions")
            div(class='flex flex-row w-full items-center')
              a(class='h-full flex-0 btn btn-ghost btn-circle p-0 m-0' href=category.url)
                svg(xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round")
                  path(stroke="none" d="M0 0h24v24H0z" fill="none")
                  path(d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4")
                  line(x1="13.5" y1="6.5" x2="17.5" y2="10.5")     
    
    else 
      div(class="card w-96 h-72 bg-white shadow-xl mx-auto")
      div(class="card-body")

        h2(class="card-title") There are no categories

        div(class="card-actions justify-end")
          a(class="btn btn-outline btn-primary" href='/inventory/category/create') New Category

    div(class="card w-96 h-96 bg-white shadow-xl mx-auto")
      div(class="card-body")      
        a(class="btn btn-outline btn-circle btn-info m-auto" href='/inventory/category/create') +
