extends layout 

block content 
  div(class="card w-96 bg-white shadow-xl mx-auto mt-10")
    div(class="card-body")
    
      h2(class="card-title")= category.name
      p(class='mb-3') #[strong SKU: ] #{category._id}
      p= category.description

      p(class='text-md font-bold mt-5') Items:
      div(class="avatar-group -space-x-3")
        for item in category_items 
          if item.image
            a(class="avatar" href=item.url)
              div(class="w-12")
                img(src=`/images/${item.image}`)
          else  
            a(class="avatar placeholder" href=item.url)
              div(class="w-12 bg-neutral-focus text-neutral-content hover:ring ring-primary")
                span #{item.name.slice(0, 1)}

      
        else 
          p No items in this category
         

      div(class="card-actions justify-end")
        a(class="btn btn-outline btn-warning" href=`/inventory/category/${category._id}/update`) Update
        a(class="btn btn-outline btn-error" href=`/inventory/category/${category._id}/delete`) Delete
