extends layout 

block content 
  div(class="card w-96 h-1/2 bg-white shadow-xl mx-auto mt-10")
      div(class="card-body")
      
        h2(class="card-title")= item.name
        p= item.description
        div(class='py-1 h-full flex-row justify-end flex-wrap-reverse ')
          for category in item.category 
            a(class="badge badge-info m-1" href=category.url) #{category.name}

        div 
          p #[strong Price: ] $#{item.price.toFixed(2)} 
          p #[strong In stock: ] #{item.in_stock}

        div(class="card-actions justify-end")
          a(class="btn btn-outline btn-warning" href=`/inventory/item/${item._id}/update`) Update
          a(class="btn btn-outline btn-error" href=`/inventory/item/${item._id}/delete`) Delete
  