extends layout 

block content 
  div(class="card w-96 h-1/2 bg-white shadow-xl mx-auto mt-10")
      div(class="card-body")
        h2(class="card-title")= item.name
        p= item.description
        div 
          p #[strong Price: ] $#{item.price.toFixed(2)} 
          p #[strong In stock: ] #{item.in_stock}
        div(class="card-actions justify-end")
          a(class="btn btn-primary" href=`/inventory/item/${item._id}/update`) Update
          a(class="btn btn-error" href=`/inventory/item/${item._id}/delete`) Delete
  