extends layout 

block content 
  div(class='grid grid-cols-3 h-full mx-auto my-10 w-5/6 gap-y-3')
    each result in results 
      div(class="card w-96 h-96 bg-white shadow-xl mx-auto")
        div(class="card-body") 
        
          a(class="card-title" href=result.url) #{result.name}
         
          div(class='flex flex-row')
            div(class=`badge ${result.category ? 'badge-primary' : 'badge-warning'} mr-2`) #{result.category ? 'Item' : 'Category'}
            if result.in_stock < 5
              div(class="badge badge-warning my-auto") low  stock

          a(class='text-sm flex-0') #[strong SKU: ] #{result._id}
          p #{result.description}

          if result.image 
            div(class="avatar")
              div(class="w-12 rounded-full")
                img(src=`/images/${result.image}`)
              div
            div
         

          div(class="card-actions")
            div(class='flex flex-row w-full items-center')

              a(class='h-full flex-0 btn btn-ghost btn-circle p-0 m-0' href=result.url)

                svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current")
                  path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z")

              div(class='py-1 h-full flex-1 flex justify-end flex-wrap-reverse ')
                if result.category
                  for category in result.category 
                    a(class="badge badge-info m-1" href=category.url) #{category.name}
    else 
      div(class="card w-96 h-72 bg-white shadow-xl mx-auto")
        div(class="card-body")

          h2(class="card-title") No items

          div(class="card-actions justify-end")
            a(class="btn btn-outline btn-primary" href='/inventory/item/create') New Item

    div(class="card w-96 h-96 bg-white shadow-xl mx-auto")
      div(class="card-body")      
        a(class="btn btn-outline btn-circle btn-info m-auto" href='/inventory/item/create') +